*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px
}

body {
  box-sizing: border-box;
  // padding: 3rem;
  font-family: 'Exo 2', sans-serif;
}

ul {
  list-style: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
.section-container {
  width: 1440px;
  margin: auto;
  padding-left: 120px;
  padding-right: 120px;
}
