*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-black;
}

ul {
  list-style: none;
}

// TECH CLASSES

.container {
  max-width: 120rem;
  margin: auto;
}
