.container {
  width: 28.5rem;
  height: 5.6rem;
  background: $color-black;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.header {
  font-family: $font-primary;
  font-weight: 600;
  font-size: 2.2rem;
  color: $color-white;
}
