.container {
  width: 32.6rem;
  height: 5.6rem;
  background: $color-black;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2.2rem;
  color: $color-white;

  &:hover {
    cursor: pointer;
    box-sizing: border-box;
    background: $color-white;
    border: 1px solid $color-black;
    color: $color-black;
  }

  &:disabled {
    background: $color-light-gray;
    border: $border-gray;
    color: $color-gray;
    cursor: not-allowed;
  }
}
