.container {
  background: $color-white;
  padding: 5.2rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 36.6rem;
  min-height: 42.6rem;
  padding: 2rem;
  gap: 3.2rem;
  background: $frame-white;
  border: 0.5px solid $color-gray;
  border-radius: 0.8rem;
}

.text {
  font-weight: 400;
  font-size: 1.6rem;
  text-decoration-line: underline;
  color: $color-neutral-text;
}
