.projects-section {
  &__projects-item {
    &__state-completed {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: $color-completed;
    }
    &__state-under-development {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: $color-in-progress;
    }
    &__state-formation-of-the-team {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: $color-started;
    }
    &__state-container {
      width: 15.7rem;
      padding: 0.8rem 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border: $border-gray-light;
      border-radius: 0.4rem;
    }
    &__state-container--formation {
      width: 70%;
      padding: 0.8rem 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border: $border-gray-light;
      border-radius: 0.4rem;
    }
  }
}
