.sidebar-list__item {
  transition: all 0.3s ease-in-out;
  gap: 0.4rem;
  border-bottom: $border-black;

  &:last-child {
    border-bottom: none;
    &.sidebar-list__button--extended {
      border-bottom: $border-black;
    }
  }
}

.sidebar-list__button {
  display: flex;
  width: 17.7rem;
  height: 4rem;
  padding: 0.4rem 4.4rem 0.4rem 4.4rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: pointer;
  background: $color-white;
  border-radius: 4px;
  border: none;

  &--accent,
  &:hover {
    background: $color-accent;
  }
}

.sidebar-list__text {
  color: $color-neutral-text;
  font-size: 1.6rem;
  font-family: $font-primary;
  line-height: 3.2rem;
}
