.footer {
	background-color: $color-black-light;
	color: $color-white;
	padding: 4rem 0 3rem 0;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-section {
	overflow: hidden;
	flex-wrap: wrap;
	padding-bottom: 3.2rem;

	&:nth-child(n+2) {
		margin-left: 3.2rem;
	}
}

.footer-logo {
	width: 12rem;
	height: 12rem;
	display: block;
	
	&__svg {
		width: 12rem;
		height: 12rem;
	}
}

.footer-list {
	display: block;

	// удалить после нормалайза
	list-style:none;
	margin: 0;
	padding: 0;
	// ============

	&__item {
		margin: 0.5rem 0;
	
		&--contacts{ 
			display: flex;
			align-items: center;
		}
	
		&--social:nth-child(n+2) {
			margin-left: 2rem;
		}
		&--social:nth-child(4n+1) {
			margin-left: 0;
		}
	}
	
	&__link {
		text-decoration: none;
		color: $color-white;
	
	
		&:hover	{
			color: $color-in-progress;
		}
		&:active {
			color: $color-started;
		}
	
	
		&.underline {
			text-decoration: underline ;
		}
	}

	&__icon {
		width: 2.5rem;
		height: 2.2rem;
		margin-right: 0.5rem;
	}

	&__text {
		width: 100%;
	}

	&--contacts {
		margin-bottom: 2rem;
	}

	&--social {
		display: flex;
		flex-wrap: wrap;
	}
}


.footer-social-link {
	width: 4.8rem;
	height: 4.8rem;
	display: block;

	&:hover {
		.footer-social-link__svg {fill: $color-in-progress;}
	}

	&:active {
		.footer-social-link__svg {fill: $color-started;}
	}

	&__svg {
		fill:$color-accent;
		width: 5rem;
		height: 5rem;
	
	}
}

.footer__license {
	color: $color-gray;
}