.sidebar-list__item {
  display: flex;
  position: relative;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  gap: 0.4rem;
}

.sidebar-list__button {
  position: relative;
  display: flex;
  width: 4.7rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-family: $font-primary;
  cursor: pointer;
  background-color: $color-white;
  border: 0;
  border-radius: 4px;
  gap: 0.8rem;
  transition: width 0.3s ease-in-out;

  &--accent {
    background: $color-black;

    .sidebar-list__item-icon {
      fill: $color-white;
    }

    .sidebar-list__text {
      color: $color-white;
    }

    & .sidebar-logo__close-svg {
      fill: $color-white;
    }

    & .sidebar-logo__close-svg--mirrored ~ .sidebar-list__submenu {
      display: none;
    }
  }

  &--extended {
    padding: 0rem 1.2rem;
    width: 17.7rem;
    height: 4rem;
    justify-content: flex-start;
  }
}

.sidebar-list__item-icon {
  width: 2.4rem;
}

.sidebar-list__submenu {
  position: absolute;
  display: inline-flex;
  padding: 0.1rem 1.4rem 0.4rem 1.4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 7rem;
  top: 0;
  border-radius: 4px;
  border: $border-gray;
  background: $color-white;

  .sidebar-list__button--extended ~ & {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.4rem;
    border: none;
    padding: 0;
  }

  .submenu-closed ~ & {
    display: none;
  }
}

.sidebar-logo__close-svg {
  position: absolute;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  right: -2.8rem;
  top: 0.8rem;
  fill: $color-black;
  transform: rotate(0.5turn);

  .sidebar-list__button--extended & {
    transform: rotate(0.75turn);
    position: absolute;
    right: 1.2rem;
    top: 0.8rem;
  }

  .submenu-closed.sidebar-list__button--extended & {
    transform: rotate(0.25turn);
  }

  .submenu-closed & {
    transform: rotate(1turn);
  }

  .sidebar-list__button--accent & {
    fill: $color-black;
  }

  .sidebar-list__button--accent.sidebar-list__button--extended & {
    fill: $color-white;
  }
}

.sidebar-list__text {
  display: none;
  overflow: hidden;

  .sidebar-list__button--extended & {
    display: block;
  }
}
