// COLORS
//colors-accents
$color-accent: #ffd014;
$color-main: #ffd210;

//colors-black
$color-black: #000;
$color-secondary-black: #232323;
$color-neutral: #121212;

//colors-white
$color-white: #fff;
$color-secondary-white: #fcfcfc;

// FONTS
$font-primary: 'Exo 2', sans-serif;
$font-secondary: 'Inter', sans-serif;
