.title {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  font-weight: 600;
  color: $color-neutral-text;
  font-family: $font-primary;
  margin-bottom: 0.4rem;
}

.input {
  width: 28.5rem;
  height: 4rem;
  background: $color-white;
  border: 0.5px solid $color-gray;
  border-radius: 0.4rem;
  padding: 0.8rem;
  color: $color-neutral-text;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.6rem;

  &::placeholder {
    font-family: $font-primary;
    font-size: 1.6rem;
    color: $input-placeholder;
  }

  &:focus {
    border-color: $input-focused-border;
  }
}

.error {
  color: $input-error;
  caret-color: $input-error;

  &-text {
    font-size: 1.2rem;
  }

  &-border {
    border: 0.5px solid $input-error;
  }

  &-border:focus,
  &-border:focus-visible {
    border: 0.5px solid $input-error;
  }
}

.input-wrapper {
  position: relative;
}

.icon-wrapper {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}
