.container {
  width: 100%;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
  font-weight: 600;
  color: $color-neutral-text;
  margin-bottom: 0.4rem;
}

.input {
  width: 100%;
  height: 4rem;
  background: $color-white;
  border: $border-gray;
  border-radius: 0.4rem;
  padding: 0.8rem;
  color: $color-neutral-text;
  font-weight: 400;
  font-size: 1.6rem;

  &::placeholder {
    font-size: 1.6rem;
    color: $input-placeholder;
  }

  &:focus,
  &:focus-visible {
    border-color: $input-focused-border;
  }
}

.error {
  color: $input-error;
  caret-color: $input-error;

  &-text {
    font-size: 1.2rem;
  }

  &-border {
    border: $border-error;
  }

  &-border:focus,
  &-border:focus-visible {
    border: $border-error;
    outline: $border-error;
  }
}

.input-wrapper {
  position: relative;
}

.icon-wrapper {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}
