.title {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  font-weight: 600;
  color: $color-neutral-text;
  font-family: $font-primary;
  margin-bottom: 0.4rem;
}

.input {
  width: 285px;
  height: 40px;
  background: $color-white;
  border: 0.5px solid $color-gray;
  border-radius: 0.4rem;
  padding: 0.8rem;
  color: $color-neutral-text;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.6rem;

  &::placeholder {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.6rem;
    color: $input-placeholder;
  }
}
