* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-black;
  min-height: 100vh;
}

ul {
  list-style: none;
}

// TECH CLASSES

.container {
  max-width: 120rem;
  margin: auto;
}

h1,
h2 {
  font-family: $font-primary;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  color: $color-black;
}

h2 {
  font-size: 3.8rem;
}

.h2--white {
  color: $color-white;
}

.h2--black {
  color: $color-black;
}

.slick-arrow {
  opacity: 1;
}

.sub-heading--white {
  font-size: 2rem;
  color: $color-white;
  font-weight: 500;
  line-height: 1.6;
}

.disable-scroll {
  overflow: hidden;
}
