.footer {
	background-color: $color-black-light;
	color: $color-white;
	padding: 4rem 12rem 3rem 12rem;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer__section {
	overflow: hidden;
	flex-wrap: wrap;
	padding-bottom: 3.2rem;

	&:nth-child(n+2) {
		margin-left: 3.2rem;
	}
}

.footer__logo {
	width: 12rem;
	height: 12rem;
	display: block;
	
	&-svg {
		width: 12rem;
		height: 12rem;
	}
}

.footer__list {
	display: block;
	width: 27.6rem;

	// удалить после нормалайза
	list-style:none;
	margin: 0;
	padding: 0;
	// ============

	&-contacts {
		margin-bottom: 2rem;
	}

	&-social {
		display: flex;
		flex-wrap: wrap;
	}

	&-link {
		text-decoration: none;
		color: $color-white;
	
	
		&:hover	{
			color: $color-in-progress;
		}
		&:active {
			color: $color-started;
		}
	
	
		&.underline {
			text-decoration: underline ;
		}
	}

}

.footer__item {
	margin: 0.5rem 0;

	&-svg {
		width: 2.5rem;
		height: 2.2rem;
		margin-right: 0.5rem;
	}

	&-span {
		width: 100%;
	}

	&-contacts{ 
		display: flex;
		align-items: center;
	}

	&-social:nth-child(n+2) {
		margin-left: 2rem;
	}
	&-social:nth-child(4n+1) {
		margin-left: 0;
	}
}

.footer__social-link {
	width: 4.8rem;
	height: 4.8rem;
	display: block;

	&:hover {
		.footer__social-link-svg {fill: $color-in-progress;}
	}

	&:active {
		.footer__social-link-svg {fill: $color-started;}
	}

	&-svg {
		fill:$color-accent;
		width: 5rem;
		height: 5rem;
	
	}
}

.footer__license {
	color: $color-gray;
}