.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider_container {
  cursor: pointer;
  margin: 12rem auto;
  h3 {
    margin-bottom: 3.2rem;
    font-style: normal;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 4.6rem;
    text-align: center;
    color: $color-black;
  }

  .user_info {
    margin: 0 4.8rem;
  }

  .user_name,
  .user_specialization {
    display: inline-block;
    white-space: nowrap;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $color-black;
  }

  .user_text {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    color: $color-black;
    text-align: left;
  }

  .slider_item_container {
    display: flex;
    align-items: center;
  }
}

.slider {
  position: relative;
  padding: 0 17rem;
}
.slider_item img {
  // width: 11.5rem;
  // height: 11.5rem;
  // border-radius: 50%;
  // object-fit: cover;
  // text-align: center;
}
.custom_dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 4rem;
}
.custom_dot {
  font-size: 0;
  width: 1rem;
  height: 1rem;
  background-color: $color-black;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
.active_dot {
  width: 1.4rem;
  height: 1.4rem;
  background: $color-accent;
  border: none;

}