.footer {
  background-color: $color-black-light;
  color: $color-white;
  padding: 4rem 0;
}

.footer-wrapper {
  display: flex;
  gap: 3.2rem;
  margin-bottom: 1.2rem;
}

.footer-section {
  width: 27.6rem;
}

.footer-logo {
  width: 12.2rem;
  height: 12.4rem;
  display: block;

  &__svg {
    width: 12.2rem;
    height: 12.4rem;
  }
}

.footer-list {
  display: block;

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  &__text {
    width: 100%;
  }

  &--contacts {
    margin-bottom: 2.4rem;
  }

  &--social {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
  }
}

.footer-list--underlined {
  .footer-list__link {
    text-decoration: underline;
  }
}

.footer-list__link {
  color: $color-white;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-in-progress;
  }
  &:active {
    color: $color-started;
  }
}

.footer-list__item:not(:last-child) {
  margin-bottom: 0.8rem;
}

.footer-list__item--social {
  width: 3.2rem;
  height: 3.2rem;
}

.footer-list__item--contacts {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.footer-social-link {
  width: 3.2rem;
  height: 3.2rem;
  display: block;
  color: $color-white;
  fill: $color-white;

  &:hover,
  &:focus {
    .footer-social-link__svg {
      fill: $color-in-progress;
    }
  }

  &:active {
    .footer-social-link__svg {
      fill: $color-started;
    }
  }
}

.footer__license {
  color: $color-light-gray;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
