.projects-section {
  &__info {
    &__list-item {
      &__level {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: $border-white;
        background: none;
      }
      &__level-active {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: $border-white;
        background-color: #fcfcfc;
      }
    }
  }
}
