.partner {
  margin-bottom: 12rem;
}

.partner_title {
  text-align: center;
  font-size: 3.8rem;
  margin-bottom: 3.2rem;
}

.partner_link {
  background: $color-light-gray;
  line-height: 10rem;
  padding: 4rem 10rem;
}
