@import '../../../styles/abstracts/_variables.scss';

.achievements {
  background: $color-accent;
  padding-top: 5.2rem;
  padding-bottom: 5.2rem;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__number {
    text-align: center;
    font-weight: 600;
    font-size: 5.6rem;
    line-height: 6.7rem;
    color: $color-black;
    margin-bottom: 2.4rem;
  }
  &__text {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;
  }
}
