.sidebar-wrapper {
  width: 11.5rem;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  &--extended {
    width: 24.1rem;

    & .sidebar-logo {
      width: 24.1rem;
      padding: 1.8rem 14.1rem 1.8rem 3.2rem;
    }

    & .log-out {
      width: auto;
      height: 5.6rem;
      padding: 1.6rem 3.2rem 1.6rem 1.2rem;
    }

    & .log-out__text {
      display: block;
    }
  }
}

.sidebar-logo {
  display: flex;
  width: 11.5rem;
  padding: 1.8rem 2.3rem 1.8rem 2.4rem;
  height: 10.4rem;
  transition: all 0.3s ease-in-out;

  align-items: center;
  flex-shrink: 0;
  background: $color-accent;
}

.sidebar-logo__svg {
  width: 6.8rem;
  height: 6.8rem;
}

.sidebar-logo__close-svg {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: $color-black;
  border-radius: 4px 0px 0px 4px;
  fill: $color-white;

  &--mirrored {
    transform: scaleX(-1);
  }
}

.sidebar-menu {
  border: 1px solid $color-gray;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  width: 100%;
  min-height: 100vh;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.log-out {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border-radius: 4px;
  border: $border-black;
  background: $color-white;
  color: $color-black;
  width: 4.7rem;
  height: 5.6rem;
  padding: 0;
  cursor: pointer;

  &__text {
    display: none;
    font-size: 2rem;
    font-family: $font-primary;
    font-weight: 600;
  }

  &__icon {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
  }

  &:hover {
    color: $color-white;
    background: $color-black-light;
  }

  &:hover &__icon {
    fill: $color-white;
  }
}
