.projects-section {
  &__projects-item {
    &__container {
      position: absolute;
      top: 21.8rem;
      text-align: left;
    }
    &__content-container {
      display: block;
    }
    &__title {
      width: 33rem;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 1;
      text-align: left;
      margin-bottom: 0.8rem;
    }
    &__link {
      color: $color-white;
      text-decoration: none;
      text-align: left;
    }
  }
  &__info {
    position: absolute;
    top: 31.3rem;
    &__list {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
    &__list-item {
      width: 33rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__icon {
        width: 2.4rem;
        height: 2.4rem;
      }
      &__level-container {
        display: flex;
        flex-direction: row;
        gap: 0.4rem;
      }
      &__container {
        display: flex;
        flex-direction: row;
        gap: 0.4rem;
      }
      &__level {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: $border-white;
        background: none;
      }
      &__level-active {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: $border-white;
        background-color: #fcfcfc;
      }
    }
    &__list-container {
      display: flex;
      align-items: center;
      gap: 0.4rem;
    }
  }
  &__team {
    position: absolute;
    top: 40.9rem;
    cursor: pointer;
    &__btn {
      font-family: $font-primary;
      color: $color-white;
      font-weight: 500;
      font-size: 2rem;
      line-height: 1.35;
      background: none;
      border: none;
      padding: 0rem 0rem 0.4rem;
      border-bottom: $border-white;
      cursor: pointer;
    }
  }
}
